<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">กรอกข้อมูล</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="User">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>ชื่อ</label>
                <input
                  type="text"
                  formControlName="FirstName"
                  class="form-control"
                  placeholder="ชื่อ"
                  value=""
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>นามสกุล</label>
                <input
                  type="text"
                  formControlName="LastName"
                  class="form-control"
                  placeholder="นามสกุล"
                  value=""
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>เพศ</label>
                <input
                  type="text"
                  formControlName="Gender"
                  class="form-control"
                  placeholder="เพศ"
                  value=""
                />
              </div>
            </div>

     

            <div class="col-md-6">
              <div class="form-group">
                <label>เลขบัตประชาชน</label>
                <input
                  type="text"
                  formControlName="Pastsportid"
                  class="form-control"
                  placeholder="เลขบัตรประชาชน"
                  value=""
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>วันเกิด</label>
                <input
                  type="date"
                  formControlName="Birthday"
                  class="form-control"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>อายุ</label>
                <input
                  type="text"
                  formControlName="Age"
                  class="form-control"
                  value=""
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>ที่อยู่</label>
                <input
                  type="text"
                  formControlName="Address"
                  class="form-control"
                  placeholder="ที่อยู่"
                  value=""
                />
              </div>
            </div>

            

            <div class="col-md-12">
              <div class="form-group">
                <label>เบอร์โทร</label>
                <input
                  type="text"
                  formControlName="Phonenumber"
                  class="form-control"
                  placeholder="เบอร์โทร"
                  value=""
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>โรคประจำตัว</label>
                <input
                  type="text"
                  formControlName="Disease"
                  class="form-control"
                  placeholder="โรคประจำตัว"
                  value=""
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>แพ้ยา</label>
                <input
                  type="text"
                  formControlName="DrugAllergy"
                  class="form-control"
                  placeholder="แพ้ยา "
                  value=""
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>ข้อมูลเพิ่มเติม</label>
                <textarea
                  formControlName="Annotation"
                  class="form-control textarea"
                ></textarea>
              </div>
            </div>

            <div class="update ml-auto mr-auto">
              <button
                [disabled]="User.invalid"
                (click)="Insert()"
                type="submit"
                class="btn btn-primary btn-round"
              >
                ยืนยัน
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="">
  <table class="table">
    <thead>
      <th>No</th>
      <th>name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of all ;let i=index;">
        <td>{{i+1}}</td>
        <td>{{item.firstname}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price}}</td>
        <td>
          <button (click)="TestEdit(item);">edit</button>
          <button (click)="TestDelete();">delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="">
  <label for="">Name</label>
  <input type="text" [(ngModel)]="Name">
  <input type="text" [(ngModel)]="Category">
  <input type="text" [(ngModel)]="Price">
  <button (click)="Update();">Save</button>
</div> -->
