<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> รายชื่อคนไข้</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                ลำดับ
              </th>
              <th>
                ชื่อ
              </th>
              <th>
                นามสกุล
              </th>
              <th>
                ข้อมูล

                รักษา
              </th>
              
            </thead>
            <tbody>
              <tr *ngFor="let item of all ;let i=index;" class="table-row1">
                
                  <td>{{i+1}}</td>
                  <td>{{item.firstname}}</td>
                  <td>{{item.lastname}}</td>
                  <td>
                    <button (click)="open(Userdata,item)">ข้อมูล</button>
                    <button class="ml-2" (click)="Link1(item);">รักษา</button>
                  </td>

              </tr>
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>

<ng-template #Userdata let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="User">
        
      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>ชื่อ</label>
            <input type="text" formControlName="FirstName" class="form-control"  placeholder="ชื่อ" value=""  >
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>นามสกุล</label>
            <input type="text" formControlName="LastName" class="form-control" placeholder="นามสกุล" value="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>เพศ</label>
            <input type="text" formControlName="Gender" class="form-control"  placeholder="เพศ" value=""  >
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>เบอร์โทร</label>
            <input type="text" formControlName="Phonenumber" class="form-control" placeholder="เบอร์โทร" value="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>ที่อยู่</label>
            <input type="text" formControlName="Address" class="form-control" placeholder="ที่อยู่" value="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>วันเกิด</label>
            <input type="date" formControlName="Birthday" class="form-control"  value="">
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>อายุ</label>
            <input type="text" disabled  formControlName="Age" class="form-control"  value="">
          </div>
        </div>
      </div>

      <div class="row">
        
        
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>โรคประจำตัว</label>
            <input type="text" formControlName="Disease" class="form-control" placeholder="โรคประจำตัว" value="">
          </div>
        </div>
        <div class="col-md-6 pl-1">
          <div class="form-group">
            <label>แพ้ยา</label>
            <input type="text" formControlName="DrugAllergy" class="form-control" placeholder="แพ้ยา " value="">
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>ข้อมูลเพิ่มเติม</label>
            <textarea formControlName="Annotation"  class="form-control textarea"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button [disabled]="User.invalid" (click)="Insert();" type="submit" class="btn btn-primary btn-round">ยืนยัน</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>